<div class="main-form">
    <div class="link-list">
        {{#each phones}}
            <a class=".block-button" href="http://localhost:3000/update/{{id}}">{{>phone_button}}</a>          
        {{/each}}        
    </div>
    <a class="link-button" href="http://localhost:3000/add">Добавить</a>
</div>